
/* Style button with a specific background color etc */
.btn {
  background-color: var(--button-background, darkblue);
  color: var(--button-color, white);
  padding: calc(var(--button-padding-vmin, 1) * 1vmin);
  border: 1px solid var(--button-borderColor, currentColor);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;

  transition: background 300ms ease-in-out;
}

/* When moving the mouse over the submit button, add a darker green color */
.btn:hover,
.btn:active,
.btn:focus,
.btn:focus-visible {
  box-shadow: var(--button-shadow-color, skyblue) 0px 0px 5px 5px;
  outline: 1px solid var(--button-shadow-color, skyblue);
}

/** button variants **/
.btn-success {
  --button-background: #2A8000; /* Napier Green */
  --button-color: whitesmoke;
  --button-borderColor: var(--button-background);
}

/** defining delete or "danger" button (as alias) **/
.btn-delete, .btn-danger {
  --button-background: #900603; /* Ruby */
  --button-color: whitesmoke;
  --button-borderColor: var(--button-background);
  --button-shadow-color: tomato;
}


/** Checkbox styling **/

/* Hide checkbox, the trick is to style the label:before pseudo element */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: flex;
  cursor: pointer;
  align-items: center;
  align-content: center;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.15rem solid #000;
  border-radius: 0.2rem;
  display: inline-block;
  text-align: center;
  width: 1rem;
  height: 1rem;
  padding-bottom: 0.25rem; /** a quarter of the height **/
  margin-right: 0.2rem;
  color: transparent;
  transition: all 200ms;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

/** Style disabled checkboxes **/

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/** Input Fields **/

/** TODO: Valid input fields **/


/** TODO: Invalid input fields **/
input:focus:invalid,
textarea:focus:invalid {
  border: 1px solid red;
  outline: 1px solid red;
}



